    <div class="register--login content block">
        {% if loginError %}
            <div class="alert is--error">
                <div class="alert--icon">
                    <i class="icon--element icon--cross"></i>
                </div>

                <div class="alert--content">
                    {{ loginError }}
                </div>
            </div>
        {% endif %}
        <div class="register--existing-customer panel has--border is--rounded">

            <h2 class="panel--title is--underline">I'm already a customer.</h2>
            <div class="panel--body is--wide">

                <form name="login" method="post" action="{{ path('customer.oauth.authorize.check') }}">
                    <div class="register--login-description">Log in with your email address and password</div>
                    <input type="hidden" name="integrationId" value="{{ integrationId }}"/>
                    <input type="hidden" name="state" value="{{ state }}"/>
                    <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}"/>
                    <div class="register--login-email">
                        <input name="username" placeholder="Your email address" autocomplete="email" tabindex="1"
                               value="{{ username }}" id="email" class="register--login-field" type="email">
                    </div>

                    <div class="register--login-password">
                        <input name="password" placeholder="Your password" autocomplete="current-password" tabindex="2"
                               id="passwort" class="register--login-field" type="password">
                    </div>

                    <div class="register--login-action">
                        <button type="submit" class="register--login-btn btn is--primary is--large is--icon-right"
                                name="Submit">Login <i class="icon--arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>